<% unless controller_name == "registrations" or controller_name == "sessions" %>
  <%- value = "helpers.titles.#{action_name}" -%>
  <h1>
    <% if action_name == "index" %>
      <i class="fa fa-fw fa-list"></i>
    <% elsif action_name == "show" %>
      <i class="fa fa-fw fa-eye"></i>
    <% elsif action_name == "new" %>
      <i class="fa fa-fw fa-edit"></i>
    <% elsif action_name == "edit" %>
      <i class="fa fa-fw fa-pencil"></i>
    <% else %>
      <i class="fa fa-fw fa-question-circle"></i>
    <% end -%>
    <%- value = "helpers.titles.#{action_name}" -%>

    <%=t value %>
    <% if action_name == "index" %>
      <%=t 'of' %> <%= Kernel.const_get(controller_name.singularize.camelize).model_name.human.downcase.pluralize %>
    <% else %>
      <%= Kernel.const_get(controller_name.singularize.camelize).model_name.human.downcase %>
    <% end -%>
    <small>Event Manager</small>
    <% unless ['users','inscriptions', 'inscription_items'].include?(controller_name)  %>
      <% if can? :new, controller_name.singularize.camelize.constantize %>
        <% unless action_name == 'new' %>
            <%= link_to eval("new_#{controller_name.singularize}_path"), class: "btn btn-primary btn-xs" do %>
              <%= t('.new', default: t("helpers.links.new")) %> <%= Kernel.const_get(controller_name.singularize.camelize).model_name.human %> <i class='fa fa-plus'></i>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </h1>
<% end -%>
