<li class="nested-fields event_item accordion" id="event_item">
  <div onclick="toggle_collapse(this);" style="width: 100%;">
    &nbsp;<a class='label label-warning pull-left abrir' id="abrir"> Mostrar/Ocultar  </a>
  </div>
  <div class='fundo-branco collapse' id="collapse_event_item">
    <div class="pull-right">
      <%= link_to_remove_association f do %>
        <i class='fa fa-trash-o btn btn-danger'> Remover</i>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.input :name %>
      </div>
      <div class="col-md-5">
        <%= f.input :value %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.association :event_item_type %>
      </div>
      <div class="col-md-5">
        <%= f.association :location, label_method: :complete_location, input_html: {class: 'select2'} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= f.input :start_at, html5: true, input_html: { class: 'form_datetime'} %>
      </div>
      <div class="col-md-3">
        <%= f.input :end_at, as: :datetime, html5: true, input_html: { class: 'form_datetime'} %>
      </div>
      <div class="col-md-2">
        <%= f.input :is_required %>
        <%= f.input :permit_concomitance %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= f.input :description %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul id="responsible_boxes" class="todo-list">
          <%= f.simple_fields_for :responsibles do |b| %>
            <%= render 'responsible_fields', f: b %>
          <% end %>
        </ul>
        <div class="box-footer clearfix no-border add_responsible">
          <%= link_to_add_association f, :responsibles, class: "btn btn-primary pull-right",
                                      data: {'association-insertion-node': "this", 'association-insertion-method': 'before'} do %>
            <i class='fa fa-plus'></i> Adicionar Responsável
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>