<%= content_for :full_box do %>opa
<% end %>

<%= simple_form_for(@event) do |f| %>
  <script>
      $(document).ready(function () {
          <% if f.object.id %>
            preload_tags('<%= event_tag_list_path(f.object.id) %>', null);
          <% end %>
      });
  </script>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
        Dados do Evento
      </h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :name, required: true %>
        </div>
        <div class="col-md-6">
          <%= f.association :event_type, input_html: {class: 'select2', 'data-endpoint': event_types_path} %>
        </div>
        <div class="col-md-6">
          <%= f.association :user, as: :hidden %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :description %>
        </div>
        <div class="col-md-6">
          <%= f.input 'tags_list', collection: ActsAsTaggableOn::Tag.all, value_method: :name, input_html: {class: 'select2-field', multiple: 'multiple'}, as: :select %>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#stages" aria-controls="stages" role="tab" data-toggle="tab">Etapas</a></li>
      <li><a href="#event_items" data-toggle="tab">Atividades</a></li>
      <li><a href="#partnerships" data-toggle="tab">Parcerias</a></li>
      <li><a href="#coupoms" data-toggle="tab">Cupom</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="stages">
        <div class="box-body">
          <ul id="stage_boxes" class="todo-list">
            <%= f.simple_fields_for :stages do |b| %>
              <%= render 'stage_fields', f: b %>
            <% end %>
          </ul>
          <div class="box-footer clearfix no-border add_stage">
            <%= link_to_add_association f, :stages, class: "btn btn-primary pull-right",
                                        data: {'association-insertion-node': '#stage_boxes', 'association-insertion-method': 'append'} do %>
              <i class='fa fa-plus'></i> Adicionar Etapa
            <% end %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="event_items">
        <div class="box-body">
          <ul id="event_item_boxes" class="todo-list">
            <%= f.simple_fields_for :event_items do |b| %>
              <%= render 'event_item_fields', f: b %>
            <% end %>
          </ul>
          <div class="box-footer clearfix no-border add_event_item">
            <%= link_to_add_association f, :event_items, class: "btn btn-primary pull-right",
                                        data: {'association-insertion-node': '#event_item_boxes', 'association-insertion-method': 'append'} do %>
              <i class='fa fa-plus'></i> Adicionar Atividade
            <% end %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="partnerships">
        <div class="box-body">
          <ul id="partnership_boxes" class="todo-list">
            <%= f.simple_fields_for :partnerships do |b| %>
              <%= render 'partnership_fields', f: b %>
            <% end %>
          </ul>
          <div class="box-footer clearfix no-border add_partnership">
            <%= link_to_add_association f, :partnerships, class: "btn btn-primary pull-right",
                                        data: {'association-insertion-node': '#partnership_boxes', 'association-insertion-method': 'append'} do %>
              <i class='fa fa-plus'></i> Adicionar Parceria
            <% end %>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="coupoms">
        <div class="box-body">
          <ul id="coupom_boxes" class="todo-list">
            <%= f.simple_fields_for :coupoms do |b| %>
              <%= render 'coupom_fields', f: b %>
            <% end %>
          </ul>
          <div class="box-footer clearfix no-border add_coupom">
            <%= link_to_add_association f, :coupoms, class: "btn btn-primary pull-right",
                                        data: {'association-insertion-node': '#coupom_boxes', 'association-insertion-method': 'append'} do %>
              <i class='fa fa-plus'></i> Adicionar Cupom
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-footer">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
