<li class="nested-fields stage" id="stage">
  <div onclick="toggle_collapse(this);" style="width: 100%;" id="open_close_collapse">
    &nbsp; <a class='label label-warning pull-left abrir' id="abrir"> Mostrar/Ocultar </a>
  </div>
  <div class='fundo-branco collapse' id="collapse_stage">
    <div class="pull-right">
      <% unless f.object.name == "Inscrições" %>
        <%= link_to_remove_association f do %>
          <i class='fa fa-trash-o btn btn-danger'> Remover</i>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-4">
        <% if f.object.name == "Inscrições" %>
          <%= f.label "Nome: " %>
          <pre>Inscrições</pre>
          <%= f.input :name, as: :hidden %>
        <% else %>
          <%= f.input :name %>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= f.input :date_start, html5: true, as: :date %>
      </div>
      <div class="col-md-3">
        <%= f.input :date_end, html5: true, as: :date %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if f.object.name == "Inscrições" %>
          <%= f.label "Descrição: " %>
          <pre>Período de inscrições</pre>
          <%= f.input :description, as: :hidden %>
        <% else %>
          <%= f.input :description, as: :text %>
        <% end %>
      </div>
    </div>
  </div>
</li>