<p id="notice"><%= notice %></p>

<p>
  <strong>Paid:</strong>
  <%= @inscription.paid %>
</p>

<p>
  <strong>Event:</strong>
  <%= @inscription.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @inscription.user %>
</p>

<p>
  <strong>Coupom:</strong>
  <%= @inscription.coupom %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @inscription.paid_at %>
</p>

<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
