<p id="notice"><%= notice %></p>

<h1>Responsibility Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibility_types.each do |responsibility_type| %>
      <tr>
        <td><%= responsibility_type.name %></td>
        <td><%= link_to 'Show', responsibility_type %></td>
        <td><%= link_to 'Edit', edit_responsibility_type_path(responsibility_type) %></td>
        <td><%= link_to 'Destroy', responsibility_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Responsibility Type', new_responsibility_type_path %>
