<h1>Listing stages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date start</th>
    <th>Date end</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stages.each do |stage| %>
  <tr>
    <td><%= stage.name %></td>
    <td><%= stage.description %></td>
    <td><%= stage.date_start %></td>
    <td><%= stage.date_end %></td>
    <td><%= link_to 'Show', [stage.event, stage] %></td>
    <td><%= link_to 'Edit', edit_event_stage_path(stage.event, stage) %></td>
    <td><%= link_to 'Destroy', [stage.event, stage], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage', new_event_stage_path(params[:event_id]) %>
