<p id="notice"><%= notice %></p>

<h1>Inscription Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscription_items.each do |inscription_item| %>
      <tr>
        <td><%= inscription_item.name %></td>
        <td><%= inscription_item.value %></td>
        <td><%= link_to 'Show', inscription_item %></td>
        <td><%= link_to 'Edit', edit_inscription_item_path(inscription_item) %></td>
        <td><%= link_to 'Destroy', inscription_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscription Item', new_inscription_item_path %>
