<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inscription_item.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @inscription_item.value %>
</p>

<%= link_to 'Edit', edit_inscription_item_path(@inscription_item) %> |
<%= link_to 'Back', inscription_items_path %>
