<h1>Listing event_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Value</th>
    <th>Event item type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_items.each do |event_item| %>
  <tr>
    <td><%= event_item.name %></td>
    <td><%= event_item.description %></td>
    <td><%= event_item.value %></td>
    <td><%= event_item.event_item_type %></td>
    <td><%= link_to 'Show', [event_item.event, event_item] %></td>
    <td><%= link_to 'Edit', edit_event_event_item_path(event_item.event, event_item) %></td>
    <td><%= link_to 'Destroy', [event_item.event, event_item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event item', new_event_event_item_path(params[:event_id]) %>
