<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <title><%= content_for?(:title) ? yield(:title) : "Event Manager" %></title>
  <%= stylesheet_link_tag :application, media: 'all' %>
  <%= stylesheet_link_tag :public, media: 'all' %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= javascript_include_tag :application %>
</head>
<body class="hold-transition skin-black-light layout-top-nav">
  <div class="wrapper">
    <%= render 'shared/navbar' %>
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= bootstrap_flash %>
          </div>
        </div>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
