<p id="notice"><%= notice %></p>

<h1>Coupoms</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Key</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupoms.each do |coupom| %>
      <tr>
        <td><%= coupom.value %></td>
        <td><%= coupom.key %></td>
        <td><%= coupom.expiration %></td>
        <td><%= link_to 'Show', coupom %></td>
        <td><%= link_to 'Edit', edit_coupom_path(coupom) %></td>
        <td><%= link_to 'Destroy', coupom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupom', new_coupom_path %>
